@inherits LayoutComponentBase

<div class="h-screen flex flex-col flex-1 bg-white font-hw font-bold text-2xl text-gray-800">
    <main class="px-6 py-4 flex-1 container">
        @Body
    </main>
    <footer class="px-6 py-12 text-center font-hw text-xl text-gray-600 hover:text-gray-700">
        <a href="#" target="_blank">Blog Post</a>
        &middot;
        <a href="#" target="_blank">Source Code</a>
        <br />
        Illustrations from <a href="https://undraw.co" target="_blank">unDraw</a> by Katerina Limpitsouni.
        <br />
        Font Cedarville Cursive by <a href="https://www.kimberlygeswein.com/" target="_blank">Kimberly Geswein</a>.
    </footer>
</div>
